@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  width: 100%;
  font-size: 16px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.fa-file-code {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.container {
  // background-color: yellow;
}

.jumbotron {
  .fa-file-code {
    font-size: 3rem;
  }
}

.no-gutters>[class*=col-] {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
  }
}