<%- include('partials/header.ejs') %>

<div class="container mt-4">
  <div class="jumbotron">
    <h2 class="display-4"><i class="far fa-file-code"></i></i>Blog Site</h2>
    <p class="lead">This is a simple blog site where one can add, edit, delete and see all posts from mongoDB</p>
    <hr class="my-4">
    <p>It uses technologies as: JavaScript, Node.js, mongoDB, .ejs, express, body-parser, mongoose, bootstrap 4</p>
    <a class="btn btn-sm btn-primary" href="/blogs" role="button">See all posts</a>
  </div>
</div>


<%- include('partials/footer.ejs') %>